*{
	margin: 0;
	padding: 0;
}
/* 去掉无序列表的默认样式 */
li{
	list-style: none;
}
body{
	width: 100%;
	height: 100%;
	background: #333333;
	color: #FFFFFF;
}
.about{
	width: 820px;
	margin:auto;
}
.about h3{
	display: flex;
	font-size: 40px;
	align-items: center;
	letter-spacing: 2px;
	margin-top: 20px;
	margin-bottom: 20px;
}
/*标题前面的小条状块*/
.about h3::before{
	content:'';
	display:inline-block;
	width: 8px;
	height: 45px;
	margin-right: 15px;
	background: #FFFFFF;
}
.about p{
	line-height: 1.5;
	margin: 20px;
	text-indent: 2em;
}
.about a{
	cursor:pointer;
	color: #FFFFFF;
	font-size: 25px;
}
.about a:hover{
	color:#ce8460;
}